<div class="container-fluid d-flex flex-column justify-content-center">
  <!-- <span class="mask-15 bg-secondary opacity-6"></span> -->
  <div class="row d-md-none">
    <div class="col-12 d-flex flex-column mx-md-0 mt-4 px-5">
      <img alt="Image placeholder" class="img-top" src="assets/img/logo/logoimage.png">
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-5 col-sm-8 col-10 d-flex flex-column mx-md-0 mx-auto my-3">
      <div class="card card-plain bg-secondary">
        <div class="card-header pb-0 text-start bg-secondary">
          <h4 class="font-weight-bolder">Sign In</h4>
        </div>
        <div class="card-body">
          <form   *ngIf="!isLoggedIn"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate >
            <div class="mb-3">
              <input class="form-control form-control-lg" placeholder="Username" type="text" name="username" 
                      [(ngModel)]="form.username" 
                      required 
                      #username="ngModel" 
                      [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
              />
              <div *ngIf="username.errors && f.submitted">
                Username is required!
              </div>
            </div>
            <div class="mb-3">
              <input class="form-control form-control-lg form-control-sm" placeholder="Password" type="password" name="password" 
                        [(ngModel)]="form.password" 
                        required 
                        #password="ngModel" 
                        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
              />
              <div *ngIf="password.errors && f.submitted">
                Password is required!
              </div>
              <div *ngIf="f.submitted && errorMessage"
                  class="text-danger error-message">
                  Login Failed. {{errorMessage}} 
              </div>
            </div>
            <!-- <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="rememberMe">
              <label class="form-check-label" for="rememberMe">Remember me</label>
            </div> -->
            <div class="text-center">
              <button class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center pt-0 px-lg-2 px-1 bg-secondary">
          <div  class="row">
            <div class="col-12 text-center">
                  <img alt="Image placeholder" src="assets/img/logo/sltlogo.png" class="img-left">
            </div>
          </div>
          <div  class="row">
            <div class="col-12 text-center pr-0 d-flex justify-content-center">
                  <img alt="Image placeholder" src="assets/img/logo/xyntra.png" class="img-right">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-7 col-md-7 col-sm-4 d-md-flex d-none h-100 my-auto pe-0 position-absolute top-0 right-0 text-center justify-content-center flex-column">
      <div class="position-relative h-100 m-3 px-2 border-radius-lg d-flex flex-column  overflow-hidden" style="background-image: url('assets/img/bg/welcome.jpeg');
                  background-size: cover;">
        <span class="mask-20 bg-secondary opacity-6"></span>
        <div class="row  text-center mt-2 p-4">
          <div class="col-md-12">
            <img alt="Image placeholder" class="img-top" src="assets/img/logo/logoimage.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>