<div class="header pb-6 pt-5 pt-md-8" style="min-height: 250px; background-image: url(assets/img/bg/welcome-cover.jpeg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-info opacity-8"></span>
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>
<div class="container-fluid mt--7" style="min-height: 500px;">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-6 col-lg-8">
              <router-outlet name="totalCon"></router-outlet> 
            </div>
            <div class="col-6 col-lg-4">
              <form  
                name="form"
                (ngSubmit)="selectDate()"
                #f="ngForm">
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <!-- <input class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="model"  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"  type="text"/> -->
                    <input class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="form.model"  ngbDatepicker today #d="ngbDatepicker"  (click)="d.toggle()"  type="text"/>
                    <button class="btn btn-outline-info"  id="button-addon1">Submit</button>
                  </div>
                </div>
            </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <router-outlet name="serviceCard"></router-outlet> 
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
